*{padding:0;
margin: 0;list-style: none;
text-decoration:none;
font-family: 'Poppins', sans-serif;
}

:root {--bg-color:#0c0c0c;
--text-color: #fff;
--main-color: #344a69;
--big-font: 5.1rem;
--p-font: 1.3rem;}

body{
  background: rgb(0,2,42) 100%;
  color: white;
  scroll-behavior:smooth;

}
.bg-grad1{
  background-image: url(./images/milkywayellipse.png);
  width:cover;
  margin-top: -70px;
}

.whole-grad{
  background-image: url(./images/bggradients.png);
}
.slider{
  background-image: url(./images/gallery\ element-2.png);
  width:cover;
}
.wholegrad2{
  background-image: url(./images/Rectangle\ 76.png);
  width:cover;

}



header {
  width: 1160px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 10001;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all .50s ease;
  background-color: hwb(238 7% 71%);
  height: 30px;
  border-radius: 20px;
}


#logo {width: 50px; 
  height: 60px;
  margin-left:-270px;
  align-items:  center;
  transition: all 1ms ease;
  
}
.navlist{
position: absolute;
 display: flex;
 margin-left:280px;
 gap: 30px;
 align-items:  center;

}

.navlist a, .logo{
  display:inline-block;
  color: var(--text-color);
  width: 100%;
  align-items: center;
  padding: 9px 25px;
  background: transparent;
  font-size: 17px;
  font-weight: 500;
  transition: all .6s ease;
  text-align: center;
 

}
/*.sideBar{
  position: absolute;
  top: 100%;
  right:0;
  width:12%;
  height: 35vh;
  background: rgba(29, 75, 241, 0.399);
  display: none;
  align-items:left;
  flex-direction: column;
  padding:80px 55px;
  transition:all .55s ease;
  border-radius: 25px;
  outline: 4px solid var(--text-color);
  outline-offset: -10px;
}*/
.tab5{
  margin: 90px 0 0 -25px
}
.sideBar a{
  display: block;
  margin: 10px 40px;
  margin-left: 0;}
.navlist a:hover{
  color: var(--main-color);
}
.right-content{
  display: flex;
  align-items: center;
  margin-right: -20pxss;

}
.nav-btn{
  display: inline-block;
  padding: 6px 30px;
  background: transparent;
  border: 2px solid var(--text-color);
 border-radius: 7px;
 color: var(--text-color);
 font-size: 15px;
 font-weight: 500;
 transition: all .6s ease;
 width: 100%;
 margin: 0 -100px 0 1020px;
 
}
.nav-btn:hover{
  transform: translateY(-5px);
  border: 2px solid var(--main-color);
  color: var(--main-color);

}
.title{
  transform: translateY(-5px);
  margin-left: -190px;
  margin-top: 50px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  text-align:left;
  padding-top: 10px ;
  margin: 10px 0 0 -90px;
}
#menu-icon{
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  display: none;
  margin-left:100px;
  transform: translateY(1px);
  color:white;
}
#menu-icon:hover{
  color:rgba(50, 83, 51, 0.867);
}

section{
  color: #f5f6f7;

}
.hero{
  position: absolute;
  height: 100vh;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items : center;
  gap: 2rem;
  color:#ffffff;
  margin: 60px 0 0 0;
}


.hero-text{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/worldmap.svg);
  margin-top: 50px;
  background-repeat: round; 
}
.hero-img img{
  width : 100%;
  height: auto;

}
.hero-text h1{
  font-size: var(--big-font);
  text-align: center;
  margin-left: 75.0px;


}
.heading{
  margin-top: 150px;
  padding-bottom: 40px;
}
.hero-text h5{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 105px;
}
.hero-text p{
  width: 100%;
  max-width: 620px;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 32px;
  color: var(--text-color);
  margin: 0 auto 40px auto;
  text-align: center;
  color:#fffbfb;
  text-shadow: 2px 2px #000000;
}


.gallery{

  margin-left: 600px;
  font-size: 34.5px;

}
.inline{
  display: flex;
}
.description{
  padding: 30px;
  padding-top: 30px;
}
.logo{width:70px;
height: 70px;
margin: 10px -100px 0 0px;
padding-right: 30px;}

.tab5, .tab4{width:135px;
margin: 0 0 0 0;}
.tab3,.tab2, .tab1{margin:0 60 0 90%; width:80px;}
.tab2{
  margin-left: -10px;
  margin-right: -10px;

}

.main-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.btn{


  background: -webkit-linear-gradient(0deg,#FAC410, #A25401);
  -webkit-background-clip : text;
  -webkit-text-fill-color: transparent;
  border: 2px solid transparent;
  align-items: center;
  



}

.button1{
  display: inline-block;
  padding: 13px 18px;
  background-color: #DEDEDE;
  width: 202;
  height:53;
  border: 2px solid transparent;
  border-radius: 50px;
  border: 2px solid transparent;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 900;
  transition: all .6s ease;
}
.button2{
  display: inline-block;
  padding: 13px 40px;
  background-color: #DEDEDE;
  width: 205;
  height:53;
  border: 2px solid transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 900;
  transition: all .6s ease;
}
.button1:hover, .button2:hover{
  transform: scale(1.1);

}

#side{
  margin: 830px 0 0 50px; 
  color:#0AA1D6;
  transform: scale(1.7);
  padding-bottom: 100px;
  padding-top: 10px;
}
#side:hover{
  transform: scale(1.9) ;
  color: rgb(222, 254, 255);


}
#sneakside{
  color:#0AA1D6;
  transform: scale(1.7);
  margin-left: 10px;
  margin-top:15px;

}
#sneakside:hover{
  transform: scale(1.9);
  color: rgb(222, 254, 255);
}
.icons {
  margin-top: -50px;
}
.icons i{
  display: block;
  margin: -40px 0;
  color:#0AA1D6;
  font-size: 23px;
  transition: all .6s;
}
.icons1 i {
  display: block;
  margin: 40px 0;
  color:#0AA1D6;
  font-size: 23px;
  transition: all .6s;
}
.icons i:hover, .icons1 i:hover{
  transform: scale(1.2);
  color: rgb(222, 254, 255);

}


.slider-body,.slider-body2{
  min-height: 100vh;
  display: grid;
  place-items: left;
}

.slider{
  height: 330px;
 margin-top: 70px;
 gap:0;
  position: absolute;
  width:100%;
  display:grid;
  place-items: center;
}
.slider2{
  margin-top: 80px;
}
.slide-track{
  display: flex;
  margin-top: 25px;
  width: 100vw;
  animation: scroll 40s linear infinite;
}
.slide-track2{
  display: flex;
  width: 90vw;
  animation: scroll 20s linear infinite;
}
.slide-track:hover,.slide-track2:hover{
  animation-play-state:paused;

}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }

}
.slide{
  height:250px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

}
.slide2{
  height: 30px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 90px;


}

.slide img,.slide2 img{
  width:100%;
  border-radius: 10px;;


}
.slide img:hover,.slide2 img:hover{
  transform: translateZ(20px);
}
/*gradient-shadows*/


.slider::before,
.slider::after {
  /*background: linear-gradient(to right, rgba(255,255,255,1)0%,
  rgba(255,255,255,0) 100%);*/
  content: '';
  height: 100%;
  position: absolute;
  width: 9%;
  z-index: 300;
}
.slide1,.slide2::before{
  left:0;
  top:0;
}
.slider1,.slider2::after{
  right:0;
  top:0;
  transform: rotateZ(180deg);
}
.start h2{
  margin: -300px 0 0 0px;
  font-size: 30px;
  padding-bottom: 20px;
}
#start, #start1 {
  margin-left:0px;
  font-size: 20px;

}


.arrow1{
  margin: 20px 0 0 230px;
}
.aboutus{
  text-align: end;
  padding-top:20px;
  padding-bottom: 20px;;
}
.aboutus h2{
  font-size: 30px;
  padding-bottom: 20px;

}
.aboutus p{
  font-size:20px;
}
.flow{
  padding: 0 110px;
}
.union{
  position:absolute;
}
.right{
  right:0;
}
.left{
  left:0;
}
.arrow2{
  margin: 0px 0 0 170px;
}
.bulb{
  margin-top:-200px;
}
.community h2{
  padding-top:20px;
  font-size: 30px;
}
.union2{
  margin-top: -290px;
  margin-right:500px;
 
}
.collaborators{
  display: flex;
  flex-direction: column;
}
.collaborators h2{
  font-size: 45px;
  margin:-450px auto 0 auto;
}
.logos{
  margin-top: 110px;
  background-color:#D9D9D9;
  border-radius: 80px;
  box-shadow:10px 10px 100px 10px #2C5789;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.collaborators img:hover{
  transform: scale(1.2); 
}
.events{
  margin-left: 190px;
}
.events h2{
  font-size: 58px;
  margin-top: 110px;
  font-weight: bold;
  padding-bottom: 60px;
}
.collabs{
  margin-top: -40px;
}

.events p{
  font-size: 17px;
  padding-bottom: 10px;
padding-bottom:7px;
display: block;
}

.E_summit h3{
  font-size: 28px;
  margin-left: 13px;
  margin-top: -85px;
  padding-bottom: 20px;
  padding-top: 40px;

}
.E_summit p{
  font-size: 14px;
  display: block;
}
#arrow1{
  margin-left: 165px;
  margin-top: -5px;
  display: block;
}
#arrow1:hover,#arrow2:hover{
  transform: scale(1.2);
}
#arrow2{
  margin-left: 305px;
  margin-top: 80px;
}

.E_summit{
  margin-left: 650px;
  margin-top: -370px;
  background-color: rgba(111, 103, 139, 0.7) ;
  width: 210px;
  height: 270px;
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 25px;
  border-radius: 25px;
}

#rect1{
  margin-left: 640px;
  margin-bottom: 353.5px;
}
.esum{
  margin-top: -350px;
  margin-left: 75px;
}
.Hack-A-Preneur{
 /* background: rgba(111, 103, 139, 0.7) ;*/

  background-image:url(./images/Rectangle-3.png);
  border-radius: 15px;
  width: 350px;
  height: 270px;
  margin-left: 1000px;
  margin-top: -347px;
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 25px;
  border-radius: 25px;
}
.Hack-A-Preneur h3{
  font-size:28px;
  margin-left: 13px;
  margin-top: -85px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.Hack-A-Preneur p{
  font-size: 14px;
}
#rect3{
  margin-left: 1312px;
  margin-bottom:332px;
}
#rect2{
 
  margin-top:-200px;
  width:200px;
}
.hacka{
  margin-top:-290px;
}
#rectangle-corner{
 margin-left: 1235px;
 margin-top:-13px;
}
#rect5{
  margin-left:211.99px; 
  width:37.9px;
  height:15px;
  margin-top:20px;
}

.consi{
  background-image: url(./images/Rectangle-5.png);
  width: 269.2px;
  height:315px;
  margin-left:725px;
  margin-top: 10px;
  border-radius: 25px;
}
.consi h3{

  font-size:28px;
margin-left: 43px;
margin-top: -45px;
padding-bottom: 20px;
}
.consi p{
 font-size:15px;
 margin-left: 20px;
}
#rect7{
  margin-left:25px;
  margin-top: 27px;
}

#arrow3{
  margin-left:220px;
  margin-top: 70px;
}
#arrow3:hover{
  transform: scale(1.2);
}
#rect6{
  margin-left:725px;
  margin-bottom: -332px;
}
.fast1{
  background-image:url(./images/Rectangle-6.png);
  width: 358px;
  height:334px;
  margin-left: 1020px;
  margin-top:-333px;

}
.fast1 p, .fast1 h3{
  margin-left:30px;
}
.fast1 h3{
  font-size:28px;
  margin-left: 56px;
  margin-top:-42px;
  padding-bottom:-20px;
}

.fast1 p{
  font-size: 15px;
}
#rect10{
  margin-left: 35px;
  margin-top: 27px;
}
#rect8{
  margin-left:-26px;
  margin-top: 26px;
  width: 26px;
  height: 15px;
}
#rect9{
  margin-left:358px;
  margin-top:63px;
  width: 30px;
  height: 15px;
}
#arrow4{
  margin-left: 310px;
  margin-top:-50px;
  padding-bottom:10px;
}
#arrow4:hover{
  transform: scale(1.2);
}



footer{
  background-image: url(./images/Group\ 911.png);
  width:100vw;
  height:40vh;
  margin-bottom: 50px;
  margin-top: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
 footer h2{
  color: #FFE9B1;
  font-weight: 500px;
  font-size: 30px;
 }
 .third, .first{
  width: 200px;
 }
 .third a{
  color:#fff;
  transform: scale(1.9);
 }
 .first div{
  margin-top: 15px;
 }

 .third div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
 }

#privacy:hover,#tos:hover, .back_to_top:hover{
  color:#0AA1D6;
}

.email h3{
  font-size: 25px;
}
#emailip{
  background-color: #1D0B49;
}
input{
  position:  absolute;
  background-color:#1D0B49;
  font-size: 1.2rem;
  border-radius: 20px;
  width: 495px;
  height: 40px;
  display:block;
  color:#fff;
  margin-top: 2px;
  border: 2px solid black;
  transition: 0.1 ease;
  padding-left: 7px;
  z-index:1111;
}

/*background gradients */




/*.img-gallery{
  width: 85vw;
  height: 60vmin;
  display: flex;
  gap: 10px;
  margin: 100px 0 0 130px ;
}

.img-gallery img{

  height: 100%;
  flex:1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 2px solid transparent;

}
.img-gallery img:hover{
  flex: 5;
  -webkit-transition: background-image 5s;
  image-rendering: smooth;
}*/

/*.wrapper{
  width:100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.container{
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin: 150px 0 0 250px;


}
.card{
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 20px 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(0.28, -0.03,0,0.99) ;
  box-shadow: 0px 10px 30px -5px rgba(247, 158, 5, 0.8);
  box-sizing: border-box;
}
.card >.row{
  color:white;
  display: flex;
  flex-wrap: nowrap;

}

.card > .row > .icon{
  background: rgba(100, 64, 23, 0.753);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

}

.card > .row > .description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 600px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;

}
.description p {
  color: #b0b0ba;
  padding-top: 5px;

}

.description h4{
  text-transform: uppercase;
}
input{
  display:  none;
}

input:checked+ label{
  width: 600px;

}
input:checked + label .description{
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.car[for="c1"]{
  background-image: url(./images/or.JPG);
}*/
/*body{background-image: radial-gradient(ellipse(rgba(251, 251, 251, 0.33), rgba(40, 40, 57, 0.232)), rgba(0, 0, 0, 0.317))}
@media(max-width: 1770px){
  header{
    padding: 22px 4%;
  }
  .icons{
    padding: 0 4%;
  }
}
@media(max-width: 1670px){
  :root{
    --big-font: 5.5rem;
    --p-font: 15px;

  }
}
 @media(max-width: 1370px){
  .icons{
    display:none;
  }
  section{
    padding: 0 4%;
  }
  .title{
    margin: 10px 0 0 30px
  }
 }
 @media(max-width: 1170px){
  :root{
    --big-font: 4.6rem;
  }
  .price{
    font-size: 20px;
  }
  .btn{
    padding: 10p 23px;
  }
 }
 @media(max-width: 1170px){
  .title{
    margin: 10px 0 0 35px;
    align-items: center;
  }
 }
 @media(max-width: 990px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right:0;
    width:12%;
    height: 35vh;
    background: rgba(29, 75, 241, 0.399);
    display: none;
    align-items:left;
    flex-direction: column;
    padding:80px 55px;
    transition:all .55s ease;
    border-radius: 25px;
    outline: 4px solid var(--text-color);
    outline-offset: -10px;
    
  }
  .tab5{
    margin: 0 0 0 -55px
  }
  .navlist a{
    display: block;
    margin: 10px 40px;
    margin-left: 0;}
  
  .title{
    margin: 10px 200px 0 20px
  }
}

 @media(max-width: 950px){
  #menu-icon{
    display: block;
    border-radius: 7px;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right:0;
    width:12%;
    height: 35vh;
    background: rgba(29, 75, 241, 0.399);
    display: none;
    align-items:left;
    flex-direction: column;
    padding:80px 55px;
    transition:all .55s ease;
    border-radius: 25px;
    outline: 4px solid var(--text-color);
    outline-offset: -10px;
    
  }
  .tab5{
    margin: 0 0 0 -55px
  }
  .navlist a{
    display: block;
    margin: 10px 40px;
    margin-left: 0;}
}
 
 @media(max-width: 920px){
  .title{display:none;}
  :root{
    --big-font : 5rem;
    --p-font: 1.1rem;
  }
  .hero{ grid-template-columns: 1fr;
  height:auto;
  }
  .hero-text{
  padding-top: 130px;
  }
  .hero-img{
    height: 500px;
    width: 500px;
    margin: auto;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right:0;
    width:12%;
    height: 35vh;
    background: rgba(29, 75, 241, 0.399);
    display: flex;
    align-items:left;
    flex-direction: column;
    padding:80px 55px;
    transition:all .55s ease;
    border-radius: 25px;
    outline: 4px solid var(--text-color);
    outline-offset: -10px;
    
  }
  .tab5{
    margin: 0 0 0 -55px
  }
  .navlist a{
    display: block;
    margin: 10px 40px;
    margin-left: 0;}
}
 
 @media(max-width:570px){
  .title{display:none;}
  .hero{
    height: 100vh;
  }
  .hero-img{
    height: 400px;
    width: 400px;
    margin:0 auto;
  }
  :root{
    --big-font: 4rem;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right:0;
    width:12%;
    height: 35vh;
    background: rgba(29, 75, 241, 0.399);
    display: inline;
    align-items:left;
    flex-direction: column;
    padding:80px 55px;
    transition:all .55s ease;
    border-radius: 25px;
    outline: 4px solid var(--text-color);
    outline-offset: -10px;
    
  }
  .tab5{
    margin: 0 0 0 -55px
  }
  .navlist a{
    display: block;
    margin: 10px 40px;
    margin-left: 0;}
 }
 @media(max-width: 440px){
  :root{
    --big-font: 3.4rem;
  }
  .title{display:none;}
  .hero-text h5{
    font-size: 15px;
  }
  .hero-img{
    height: 360px;
    width: 360px;
    margin:0 auto;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right:0;
    width:12%;
    height: 35vh;
    background: rgba(29, 75, 241, 0.399);
    display: flex;
    align-items:left;
    flex-direction: column;
    padding:80px 55px;
    transition:all .55s ease;
    border-radius: 25px;
    outline: 4px solid var(--text-color);
    outline-offset: -10px;
    
  }
  .tab5{
    margin: 0 0 0 -55px
  }
  .navlist a{
    display: block;
    margin: 10px 40px;
    margin-left: 0;}
  
  
 }*/


